<section class="container-fluid">
        <section class="row justify-content-md-center">
            <section class="card col-md-3 profile">
                <img src="{{prof.avatar_url}}" alt="avatar" class="profile-pic rounded-circle">
                <h3>{{prof.name}}</h3>
                <h5>{{prof.login}}</h5>
                <p> Location: {{prof.location}}<br/>
                    Followers: {{prof.followers}}<br/>
                    Public Repos: {{prof.public_repos}}<br/>
                    Public Gists: {{prof.public_gists}}</p>
            </section>
            <section class="col-md-8 repos">
                <h3>Search Results: </h3>
                <hr>
                <section class="row">
                    <h3 *ngIf="search.total_count == 0">No such Repositories Found!</h3>
                    <article *ngFor="let search of search.items; index as i" class="card card-body col-md-5 repos">
                        <button type="button" class="btn btn-link">
                            <h3 (click)="routeToRepo(i)">{{search.name}}</h3>
                        </button>
                        <p>{{search.description}}</p>
                    </article>
                </section>
            </section>
            <section>
                
            </section>
        </section>
    </section>